@import "/src/assets/style/veriables";

.author-list {
    padding: 20px 0 20px;
    .author-page-avatar {
        display: flex;
        margin: auto; 
    }
    .author-title {
        @include font-montserrat (900, 20px);
    }
    .author-tag {
        display: inline-block;
        width: 100px;
        height: 18px;
        @include font-montserrat (400, 13px);
        cursor: pointer;
        text-align: center;
        color: white;
        background-color: #ee6059;
        margin-bottom: 20px;
    }
    .author-description {
        @include font-montserrat (400, 15px);
    }
    
}
