@import "/src/assets/style/veriables";

.contact-form-field {
    margin-bottom: 20px;
}

.contact-form-input {
    width: 100%;
    background-color:  #25292b;
    color: white;
    border: none;
    padding: 10px;
    @include font-open_sans (400, 14px);
}

.contact-form-btn {
    cursor: pointer;
    width: 100%;
    border: 1px solid #ee6059;
    background-color: #ee6059;
    color: white;
    border: none;
    padding: 10px;
    @include font-montserrat (600, 18px);
}
.contact-form-btn:hover {
    background-color: #25292b;
    border: 1px solid white;
}